<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    $("#view_chart").addClass( "hidden" );
    
    var result = document.getElementById('arr_answer_result').value;
    if(result.length > 0){
      var arr_result = result.split(",");    
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Number');
      data.addColumn('number', 'Answer');
      for(var i=0; i < arr_result.length; i++){
        if(arr_result[i].length > 0) {
          arr = arr_result[i].split("_");
          var x = arr[0];
          var y = parseInt(arr[1]);
          data.addRows([[x,y]]);
        }
      }

      var options = {
        // title: 'Company Performance',
        hAxis: {title: 'Result', titleTextStyle: {color: 'red'}}
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(data, options);
      
    }
  }
</script>
<div id="chart_div" style="width: 900px; height: 500px;"></div>